* text=auto
*.js text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.png binary
*.ttf binary
*.pdf binary
*.pptx binary
*.yaml text eol=lf
*.csv text eol=lf
